/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
}

.form-group {
    margin-bottom: 20px;
}
h1,label{
    opacity: .75;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input:focus{
    outline: 1px solid rgb(55, 160, 230);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 96%;
}

button:hover {
    background-color: #0056b3;
}


#login-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 96%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
    padding: auto;
    padding-left: 5px;
    margin-top: 4%;
  }